body {
    margin: 0;
    padding: 0;
    background: url(../img/plantilla/bg_login.jpg);
    background-size: cover;
    font-family: sans-serif;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 700px;
    height: 420px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 5px solid rgba(255, 255, 255, .2);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, .5);
}
.imgBx {
    width: 350px;
    height: 420px;
    overflow: hidden;
    float: left;
}
.imgBx img {
    width: 100%;
}
.loginBox {
    float: right;
    width: 350px;
    height: 420px;
    box-sizing: border-box;
    padding: 80px 40px;
    background: rgba(0, 0, 0, .9);
}
h3 {
    margin: 0;
    padding: 0 0 20px;
    color: #ccc;
    text-align: center;
}
.loginBox input {
    width: 100%;
    margin-bottom: 20px;
}
.loginBox input[type="email"],
.loginBox input[type="password"] {
    border: none;
    border-bottom: 2px solid #262626;
    outline: none;
    height: 40px;
    color: #fff;
    background: transparent;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box;
}
::placeholder {
    color: rgba(255, 255, 255, .5);
}
.inputBox {
    position: relative;
}
.inputBox span {
    position: absolute;
    top: 10px;
    color: #ccc;
}
.loginBox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: #fff;
    background: #22a5c6;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 9px rgba(153, 153, 153, 0.371);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.loginBox input[type="submit"]:hover {
    color: #000;
    background: #f1f027;
}
.loginBox input[type="submit"]:active {
    color: #fff;
    background: #bd1d78;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
}
.loginBox img {
    width: 100%;
    margin-bottom: 30px;
    margin-top: -30px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}